Prototypes/
CarbCalculator/.idea/.name
CarbCalculator/.idea/
Documentation/Capstone_Stage1_DRAFT1.docx
Documentation/Capstone_Stage1_DRAFT2.docx
Documentation/Capstone_Stage1_DRAFT3.docx
Documentation/Capstone_Stage1_DRAFT4.docx
Wireframes/
test projects/
Database/
