Prototypes/
Wireframes/
Documentation/Capstone_Stage1_DRAFT1.docx
Documentation/Capstone_Stage1_DRAFT2.docx
Documentation/Capstone_Stage1_DRAFT3.docx
Documentation/Capstone_Stage1_DRAFT4.docx
CarbCalculator/.idea/.name
CarbCalculator/.idea/compiler.xml
CarbCalculator/.idea/copyright/profiles_settings.xml
CarbCalculator/.idea/encodings.xml
CarbCalculator/.idea/gradle.xml
CarbCalculator/.idea/misc.xml
CarbCalculator/.idea/modules.xml
CarbCalculator/.idea/runConfigurations.xml
CarbCalculator/.idea/vcs.xml
